#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the acoustic ranging node.
#===============================================================================

# Speed of sound in m/s
speed_of_sound: 1481

# If set to true, OWTT range calculations will use only the digits after the
# decimal point in the message time of arrival to calculate range. If false,
# the entire timestamp will be used (requires that the computer and WHOI
# micromodem are both time-synced to GPS). Use of fractional seconds is only
# valid for times of flight less than one second
use_fractional_seconds: false
