#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the depth node.
#===============================================================================

# Exponential filter smothing factor (0 <= alpha <= 1). A value of 1 disables
# filtering
alpha: 0.1

# Acceleration of gravity in m/s^2
gravity_acceleration: 9.80665

# Density of water in kg/m^3
# Freshwater: 1000.0
# Saltwater:  1025.0
water_density: 1000.0
