#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the gyrocompass node.
#===============================================================================

# Minimum number of GPS sats to be considered a lock
min_sats: 9

# Initial state covariance matrix
P0: [ 1.0e-01, 1.0e-01, 1.0e-01,   # g_b_i (m/s^2)^2
      3.0e-04, 3.0e-04, 1.0e+00, ] # C_n0_i (rad)^2

# Process noise covariance matrix
Q: [ 1.0e-01, 1.0e-01, 1.0e-01 ] # g_b_i state noise (m/s^2)^2

# Measurement noise covariance matrix
R: [ 1.0e-00, 1.0e-00, 1.0e-00 ] # g_b_i measurement noise (m/s^2)^2
