#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the SINS node.
#===============================================================================

# Minimum number of GPS sats to be considered a lock
min_sats: 6

# Depth in meters after which GPS measurements are ignored
gps_depth_cutoff: 0.1

# Minimum speed to initialize heading from GPS or GPS+DVL
init_min_speed: 1.0

# Acoustic ranging whitelist. Whitelisted IDs must be an of ID ints. Comment
# this parameter out to accept all ranges
# range_whitelist: [120, 155]

# Navigation inititalization mode
#     0: GPS  - Initializes heading from GPS heading.
#     1: DVL  - Initializes heading from angle between GPS and DVL velocity.
#     2: MAG  - Initializes heading from magnetic heading.
#     3: ZERO - Initializes heading to zero.
#     4: SIM  - Initializes heading from simulation ground truth.
#     5: GYRO - Initializes heading from gyrocompass
init_mode: 1

# Gyrocompass stddev threshold for initalization if init mode GYRO
# gc_std_threshold: 0.0175 # rad (1 deg)
gc_std_threshold: 0.0873 # rad (5 deg)

# Vehicle ID whitelist. If range measurements are enabled, only ranges from
# vehicle IDs in the whitelist will be used. An empty list or commenting out
# the whitelist will allow ranges from all sources
range_whitelist: [ 120 ]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Filter initial state covariance (P0)
# NOTE: Creates a diagonal matrix from this vector
P0:   [ 3.0000e-03, 3.0000e-03, 3.0000e-02,  # Att     (rad)^2
        1.0000e-02, 1.0000e-02, 1.0000e-02,  # NED Vel (m/s)^2
        1.5398e-13, 1.5398e-13, 1.0000e+02,  # Pos     (rad,rad,m)^2
        6.9303e-14, 6.9303e-14, 6.9303e-14,  # b_g     (rad/s)^2
        1.6884e-07, 1.6884e-07, 1.6884e-07 ] # b_a     (m/s^2)^2

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Filter process noise covariance (P0)
# NOTE: Creates a diagonal matrix from this vector
Q:   [ 8.4785e-10, 8.4785e-10, 8.4785e-10,   # w_ib_b (rad/s)^2
       8.5701e-05, 8.5701e-05, 8.5701e-05,   # f_ib_b (m/s^2)^2
       2.3101e-18, 2.3101e-18, 2.3101e-18,   # b_g    (rad/s)^2
       5.6279e-12, 5.6279e-12, 5.6279e-12  ] # b_a    (m/s^2)^2

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Gyroscope measurement settings
imu:
    enabled: true
    l_bS_b: [ 0.0, 0.0, 0.0 ] # m
    R: [ 0 ]
    threshold: [ 0 ]
    T_c_g: 600.0 # sec
    T_c_a: 600.0 # sec

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# DVL measurement settings
dvl:
    enabled: true
    l_bS_b: [ -0.0984, 0.0, 0.0548 ] # m
    R: [ 1.7640e-04, 1.7640e-04, 1.7640e-04 ] # (m/s)^2
    threshold: [ 0, 0, 0 ]
    cov_S_v: 4.0000e-06 # %^2
    cov_b_v: 1.0000e-06 # (m/s)^2
    T_c_v:   600.0      # sec

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Depth measurement settings
depth:
    enabled: true
    filename: depth_node.depth.dat
    cols: [ 2 ] # depth
    l_bS_b: [ -1.4192, -0.0254, -0.0156 ] # m
    R: [ 7.0e-5 ] # (m)^2
    threshold: [ 0 ]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Range measurement settings
range:
    enabled: false
    l_bS_b: [ -0.0811, 0.0, 0.1678 ] # m
    R: [ 0.1 ] # (m)^2
    threshold: [ 10 ]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# GPS measurement settings
gps:
    enabled: true
    l_bS_b: [ -1.2934, 0.0, -0.1926 ] # m
    R: [ 1.5398e-13, 1.5398e-13, 100.0, 0.01, 0.01 ] # (rad,rad,m,m/s,m/s)^2
    threshold: [ 0, 0, 0, 0, 0 ]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Magnetometer measurement settings
mag:
    enabled: false
    l_bS_b: [ 0.0, 0.0, 0.0 ] # m
    R: [ 4.0e-4, 4.0e-4, 4.0e-4 ] # (Gauss)^2
    threshold: [ 0, 0, 0 ]
