#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the SINS parser node.
#===============================================================================

# List of paths to timestamped vehicle log folders to be loaded
# log_folder_paths: [ "/home/eagle/avl_log_plotter/plot_me/2022-08-15_14.44.39" ]
log_folder_paths: [ "/home/eagle/avl_log_plotter/plot_me/2022-09-28_15.54.12" ]

# Minimum number of GPS sats to be considered a lock
min_sats: 6

# Navigation inititalization mode
#     0: GPS  - Initializes heading from GPS heading.
#     1: DVL  - Initializes heading from angle between GPS and DVL velocity.
#     2: MAG  - Initializes heading from magnetic heading.
#     3: ZERO - Initializes heading to zero.
init_mode: 1

# Minimum speed to initialize heading from GPS or GPS+DVL
init_min_speed: 1.0

# Acoustic ranging whitelist. Whitelisted IDs must be a string of IDs separated
# by spaces. Commenting out this parameter will cause all ranges to be accepted
# if range measurements are enabled. This is a workaround since rosparam doesnt
# support an array of arrays
range_whitelist:
    "153": "120" # "120 157"
    "155": "120" # "120 157"
    "157": "120" # "155 120"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Filter initial state covariance (P0)
# NOTE: Creates a diagonal matrix from this vector
P0:   [ 3.0000e-03, 3.0000e-03, 3.0000e-02,  # Att     (rad)^2
        1.0000e-02, 1.0000e-02, 1.0000e-02,  # NED Vel (m/s)^2
        1.5398e-13, 1.5398e-13, 1.0000e+02,  # Pos     (rad,rad,m)^2
        5.8761e-10, 5.8761e-10, 5.8761e-10,  # b_g     (rad/s)^2
        9.6170e-07, 9.6170e-07, 9.6170e-07 ] # b_a     (m/s^2)^2

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Filter process noise covariance (P0)
# NOTE: Creates a diagonal matrix from this vector
Q:   [ 8.4616e-10, 8.4616e-10, 8.4616e-10,   # w_ib_b (rad/s)^2
       6.1549e-05, 6.1549e-05, 6.1549e-05,   # f_ib_b (m/s^2)^2
       1.9587e-14, 1.9587e-14, 1.9587e-14,   # b_g    (rad/s)^2
       3.2056e-11, 3.2056e-11, 3.2056e-11  ] # b_a    (m/s^2)^2

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Gyroscope measurement settings
imu:
    enabled: true
    filename: inertial_nav_node.imu.dat
    cols: [ 1, 2, 3, 4, 5, 6 ] # wx, wy, wx, fx, fy, fz
    l_bS_b: [ 0.0, 0.0, 0.0 ] # m
    R: [ 0 ]
    threshold: [ 0 ]
    T_c_g: 600.0 # sec
    T_c_a: 600.0 # sec

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# DVL measurement settings
dvl:
    enabled: true
    filename: inertial_nav_node.dvl.dat
    cols: [ 1, 2, 3 ] # vx, vy, vx
    l_bS_b: [ -0.0984, 0.0, 0.0548 ] # m
    R: [ 1.7640e-04, 1.7640e-04, 1.7640e-04 ] # (m/s)^2
    threshold: [ 10, 10, 10 ]
    cov_S_v: 4.0000e-06 # %^2
    cov_b_v: 1.0000e-06 # (m/s)^2
    T_c_v:   600.0      # sec

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Depth measurement settings
depth:
    enabled: true
    filename: inertial_nav_node.depth.dat
    cols: [ 1 ] # depth
    l_bS_b: [ -1.4192, -0.0254, -0.0156 ] # m
    R: [ 7.0e-5 ] # (m)^2
    threshold: [ 0 ]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Range measurement settings
range:
    enabled: false
    filename: acoustic_ranging_node.owtt.dat
    cols: [ 1, 2, 3, 4, 8 ]
    l_bS_b: [ -0.0811, 0.0, 0.1678 ] # m
    R: [ 0.1 ] # (m)^2
    threshold: [ 10 ]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# GPS measurement settings
gps:
    enabled: true
    filename: inertial_nav_node.gps.dat
    cols: [ 2, 3, 4, 5, 6, 1 ] # lat lon alt ground_speed track_angle sats
    l_bS_b: [ -1.2934, 0.0, -0.1926 ] # m
    R: [ 1.5398e-13, 1.5398e-13, 100.0, 0.01, 0.01 ] # (rad,rad,m,m/s,m/s)^2
    threshold: [ 0, 0, 0, 2, 2 ]

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Magnetometer measurement settings
mag:
    enabled: false
    filename: microstrain_ahrs_node.magnetometer.dat
    cols: [ 1, 2, 3 ]
    l_bS_b: [ 0.0, 0.0, 0.0 ] # m
    R: [ 4.0e-4, 4.0e-4, 4.0e-4 ] # (Gauss)^2
    threshold: [ 0, 0, 0 ]
