#===============================================================================
# Autonomous Vehicle Library
#
# Description: Configuration file for the sensor nav node.
#===============================================================================

# Iteration rate in Hz
iteration_rate: 10.0

# Settings for useing GPS yaw and velocity. If true, the corresponding
# measurement from GPS will be used. If false, measurements from another sensor
# will be used
use_gps_yaw: true
use_gps_vel: true
